# Example configuration file for nutlogger
# Copy this file to nutlogger.cnf and enter your information
#
# MySQL server info:
mysql_host=127.0.0.1
mysql_username=upsuser
mysql_password=foobar
mysql_database=ups
#
# Nut server info, uncomment to change from defaults
# Currently username/password aren't supported
#nut_server=127.0.0.1
#nut_port=3943
#
# Extra options, probably don't need to change these
# How often to query the UPS devices
#pollinterval=5
#
# Names of UPS's to log
# If the UPS is not found in the database, a new entry will be created by the program
# Multiple UPS names are supported
upsname=ups1
#upsname=ups2
